### Amate Shivdas Maruti

### ID: AIS022

### List and Tuple in python

### *Question:

### 1) What is tuple?

Ans: Tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists.

### 2) What is difference between list and tuple?

Ans: lists are mutable whereas tuples are immutable. in list we can change the object or replace any perticular object but in tuple we can't change.

### 3) What is the result for the range (1,12,2)?

In [22]:
[*range(1,12,2)]

[1, 3, 5, 7, 9, 11]

In [1]:
for i in range(1,12,2):
    print(i, end= " ")
    print()

1
3
5
7
9
11

In [4]:
# We also use 
import numpy as np
print(np.arange(1,12,2))

[ 1  3  5  7  9 11]

### 4) Assuming a=[10,20,30,40,50]

### 1. find length of a list?

In [5]:
a=[10,20,30,40]
print(len(a))

4

In [6]:
print(max(a))
print(min(a))

40
10

### 5)If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

In [7]:
x=(1,2,3,4,5,1,3,1)
print(x*2)
x.count(1)

(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)

3

### 6) Create a list of colors name and then print first and last color name of the list using slicing?

In [12]:
a=["red","orange","black","purple","blue","pink"]
x=slice(0,6,5)
print(a[x])

['red', 'pink']

### 7. If list = [1,4,7,'a','c',"rat","mat",4,6,4] then add element 12 using append method and
### remove rat element using remove method in the given list?

In [21]:
b=[1,4,7,'a','c',"rat","mat",4,6,4]
b.append(12)
b.remove("rat")
print(b)

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

### 8. Create two list and concatenate them and then repeat 1st list 3 times?

In [24]:
x = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
y = [1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]
concatenate = x + y
print('concatenate:',concatenate)
print('x*3:',x*3)

concatenate: ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]
x*3: ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

### 9) Create a tuple of fruits name and then access first 4 elements from the tuple?

In [30]:
fruit_name =('apple', 'banana', 'Grapes', 'Mango', 'Oranges', 'strawberry')
fruit_name[0:4]

('apple', 'banana', 'Grapes', 'Mango')

### 10 .Create a list using range function and then convert this list into tuple using tuple function?

In [27]:
list_1 = [*range(0, 31, 5)]
print('list1:',list_1)
print('tuple:',tuple(list_1))

list1: [0, 5, 10, 15, 20, 25, 30]
tuple: (0, 5, 10, 15, 20, 25, 30)

### 11. Create a tuple using eval function and then obtained the length of tuple?

In [34]:
tuple_1=eval("1,2,3,4,5")
print(tuple_1)
print(len(tuple_1))

(1, 2, 3, 4, 5)
5

### 12. Create a tuple of integer number and then sort the elements of tuple?

In [29]:
tuple_1 =(10,15,65,85,98,63,25,14)
tuple_1 =sorted(tuple_1)
print('tuple1:',tuple_1)

tuple1: [10, 14, 15, 25, 63, 65, 85, 98]

### 13. Create a list of colors name and then insert purple color on 3rd position using insert method?

In [35]:
list1 = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
list1.insert(2,'purple')
print(list1)

['red', 'orange', 'purple', 'yellow', 'green', 'blue', 'indigo', 'violet']

### 14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

In [36]:
x= (50, 60, 70, 80, 90, (200,100))
x[5][:]

(200, 100)

### 15. Create a nested tuple and nested list?

In [38]:
tuple_1=(1,2,(4,7,8,5),3,(6,2))
list_1=[['red','pink'],[7,6,4],3,2]
print('tuple_1:',tuple_1)
print('list_1:',list_1)

tuple_1: (1, 2, (4, 7, 8, 5), 3, (6, 2))
list_1: [['red', 'pink'], [7, 6, 4], 3, 2]